<div class="container" ng-controller="ExtrapageController as extraCtrl">
	<div class="row">
		<h4 class="center-align">Организации</h4>

		<table class="stripped">
			<thead>
				<tr>
					<td data-field="name">Название организации</td>
					<td data-field="domain">Адрес</td>
                    <td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="org in orgs">
					<td>{{ org.name }}</td>
					<td><a href="{{ extraCtrl.getUrl(org.domain) }}">{{ org.domain }}</a></td>
                    <td><a class="red accent-2 waves-effect waves-red btn" ng-click="extraCtrl.removeOrg(org.name)"><i class="material-icons">clear</i></a></td>
				</tr>
			</tbody>
		</table>

		<br>
        <a class="modal-trigger waves-effect waves-light btn" href="#addOrg"><i class="material-icons right">note_add</i>Добавить организацию</a>

            <!-- Modal for adding -->
        <div id="addOrg" class="modal modal-fixed-footer">
            
            <div class="modal-content">
                <h4>Добавить организацию</h4>
                <br>    
                <div class="row">
                    <form class="col s12" novalidate name="addForm" >
                        <div class="row">
                            <div class="input-field col s11" >
                                <i class="material-icons prefix">location_city</i>
                                <input placeholder="Название организации" type="text" name="name" ng-model="org.name" required>
                                <label ng-show="addForm.name.$invalid" for="name">* Поле обязательно для заполнения</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s11" >
                                <i class="material-icons prefix">public</i>
                                <input placeholder="Адрес организации" type="text" name="domain" ng-model="org.domain" required>
                                <label ng-show="addForm.domain.$invalid" for="domain">* Поле обязательно для заполнения</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button class="modal-action modal-close btn waves-effect waves-light" ng-click="extraCtrl.saveOrg()" ng-disabled="addForm.$invalid">Добавить</button>
                <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat ">Отмена</a>
            </div>
        
        </div>
	</div>


</div>

<script type="text/javascript" src="app/js/modal.js"></script>
