<div class="container" ng-controller="MainpageController as mainCtrl">
	<div class="row">
		<h4 class="center-align">Организации</h4>

		<table class="stripped">
			<thead>
				<tr>
					<td data-field="name">Название организации</td>
					<td data-field="domain">Адрес</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="org in mainCtrl.orgs">
					<td>{{ org.name }}</td>
					<td><a href="{{ mainCtrl.getUrl(org.domain) }}">{{ org.domain }}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>